.facility-block {
    padding: 20px;
    text-align: center;
    background-color: #e9e6e5;
    color: #3e2c61;
    font-size: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    background-color: #3e2c61;
    border: 1px solid;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: #e9e6e5;
}