.creative-head{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
}

.creative-content{
    position: absolute;
    bottom: 2rem;
    color: #fff;
    width: 100%;
    text-align: center;
}

.creative-count{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.grid-container-minds{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    padding: 10px;
}
