.header-image{
    width: 100%;
    object-fit: contain;
    display: block;
}

.header-block-1{
    position: absolute;
    top: 5rem;
    right: 3rem;
}

.header-block-2{
    position: absolute;
    width: 50%;
    text-align: center;
    bottom: 3rem;
}
.headButton{
    padding: 10px;
    border: 1px solid #3e2c61;
    background-color: #3e2c61;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.head-2{
    display: none;
}