.header-image{
    width: 100%;
    display: block;
    height: 600px;
    filter: brightness(70%);
    /* border-bottom-left-radius: 50%;  */
}

.header-image-carousel{
    width: 80%;
    float: right;
    height: 600px;
    /* border-bottom-left-radius: 50%; */
}

.carousel-inner{
    border-bottom-left-radius: 50px;
}

.header-block-1{
    /* position: absolute; */
    top: 5rem;
    /* right: 3rem; */
}

.header-block-2{
    /* position: absolute; */
    /* width: 50%; */
    text-align: center;
    /* bottom: 3rem; */
}
.headButton{
    padding: 10px;
    border: 1px solid #3e2c61;
    background-color: #3e2c61;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.head-2{
    display: none;
}

.school-name{
    position: absolute;
    font-size: 100px;
    color: #FF2625;
    opacity: 0.1;
    font-weight: 600;
}