@media only screen and (max-width: 600px) {
  .header-image{
    height: 300px!important;
  }
  
  .grid-container-gallery{
    grid-template-columns: repeat(1, 1fr)!important;
  }
  .grid-container{
    grid-template-columns: repeat(1, 1fr)!important;
  }
  .grid-container-footer{
    grid-template-columns: repeat(1, 1fr)!important;
  }
  .creative-count{
    margin-left: 1em!important;
    padding: 20px!important;
  }
  .head-2{
    display: block!important;
    font-size: 10px!important;
  }
  .grndmaster-speech{
    padding: 2rem 0!important;
  }
  h1, h2{
    font-size: 24px!important;
  }
  .register-form{
    top: 5rem!important;
    height: fit-content!important;
    min-height: 92vh!important;
  }
  .grid-container-register{
    grid-template-columns: repeat(1, 1fr)!important;
    gap: 0!important;
  }

  .header-image-carousel{
    display: none!important;
  }
}

@media screen and (min-width: 1400px) {

  .grid-container-register{
    gap: 1rem!important;
  }
}

@media screen and (min-width: 1600px) {
 
  .grid-container-register{
    gap: 3rem!important;
  }
}

@media screen and (min-width: 1900px) {
  
  .grid-container-register{
    gap: 5rem!important;
  }
}